Options -Indexes
RewriteEngine On

<FilesMatch "\.(sql|md)$">
  Require all denied
</FilesMatch>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|ico|avif)$">
    Header always set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]
